version: "3.2"
services:
  ikala-test:
    build: .
    # depends_on:
    #   - db
    # HOST:CONTAINER
    ports:
      - "3000:3000"
    # volumes: host_path:container_path
    external_links:
      - mysql:mysql
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    networks:
      - backend
  # db:
  #   image: mysql:5.7
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   environment:
  #     MYSQL_ROOT_PASSWORD: 12345
  #   ports:
  #     - "3307:3306"
  #   ulimits:
  #     nproc: 65535
  #     nofile:
  #       soft: 20000
  #       hard: 40000
  #   networks:
  #     - backend

networks:
  backend:
    driver: bridge
    